
  <input type="text" [(ngModel)]="result"  style="color:white;border:none;height:50px;background-color:black; font-size:16px;border-radius:8px">

  <table >
    <tbody >
      <tr   >
        <td class="px-1">
          <button (click)="one()" style="color:black; background-color:white;border-radius:8px">1</button>
          
        </td>
        <td class="px-2" >
          <button (click)="two()"  style="color:black; background-color:white;border-radius:8px">2</button>
          
        </td>
        <td class="px-3">
          <button style="color-black;background-color:white;border-radius:8px">3</button>
          
        </td>
          <td >
          <button (click)="sum()" style="color-black;background-color:white;border-radius:8px">+</button>
        </td>

        <tr>
          <tr>
            <td class="px-1">
          <button  style="color:black; background-color:white;border-radius:8px">4</button>
          
        </td>
        <td class="px-2" >
          <button  style="color:black; background-color:white;border-radius:8px">5</button>
          
        </td>
        <td class="px-3">
          <button style="color-black;background-color:white;border-radius:8px">6</button>
          
        </td>
          <td >
          <button style="color-black;background-color:white;border-radius:8px">-</button>
        </td>
          </tr>
          <tr>
            <td class="px-1">
          <button  style="color:black; background-color:white;border-radius:8px">7</button>
          
        </td>
        <td class="px-2" >
          <button  style="color:black; background-color:white;border-radius:8px">8</button>
          
        </td>
        <td class="px-3">
          <button style="color-black;background-color:white;border-radius:15px">9</button>
          
        </td>
          <td >
          <button style="color-black;background-color:white;border-radius:8px">*</button>
        </td>
          </tr>
          <tr>
            <td >
          <button  style="color:white;width:60px; background-color:grey;border-radius:10px">0</button>
          
        </td>
        <td class="px-2" >
          <button  style="color:black; background-color:white;border-radius:8px">.</button>
          
        </td>
        <td class="px-3">
          <button (click)="sum1()" style="color-black;background-color:white;border-radius:8px">=</button>
          
        </td>
          <td >
    
        </td>
        </tr>
    </tbody>
  </table>
